
#mapid{
    height: 94%; 
    position: fixed; 
    left: 0; 
    background-color:gainsboro;
}

.menu-btn{
    width: 50px;
    height: 50px;
    background-color: rgb(52, 58, 64);
    border-radius: 50%;
    opacity: 0.9;
}

.menu-btn:hover{
    background-color:  rgb(32, 32, 32);
}

header{
    height: 5%;
}

#content{
    height: 95%;
    width: 100%;
}
.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 300px;
    max-width: 300px;
    min-height: 93.7vh;
}

#sidebar.active {
    margin-left: -300px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -300px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: rgb(0, 0, 0);
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #343a40;
    color: rgb(255, 255, 255);
    transition: all 0.3s;
    opacity: 0.8;
}

#sidebar .sidebar-header {
    padding: 20px;
    background:#343a40;
    opacity: 1;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
    opacity: 1;
}

#sidebar ul p {
    color: rgb(0, 0, 0);
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    opacity: 1;
}
#sidebar ul li a:hover {
    color: rgb(0, 0, 0);
    background: #797777;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: rgb(0, 0, 0);
    background: #797777;
    opacity: 1;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #343a40;
    opacity: 1;
}


hr{
    margin: 0;
}

.sidebar-span{
    width:75.5%;
    padding-right: 5%;
}

.sidebar-i{
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 1;
}